.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.background {
  background-image: url("./assets/bg-new.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -6em;
}

.clipboard {
  position: absolute;
  bottom: 0;
  width: 75%;
  margin-left: 0;
  margin-right: 0;
  z-index: 0;
}

.center2 {
  display: 'flex';
  justifyContent: 'center';
  alignItems: 'center';
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
